# --- FRONTEND PUBLIC VARIABLES ---
NEXT_PUBLIC_STELLAR_NETWORK=testnet
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Native XLM Contract address on Stellar Testnet (Stellar Asset Contract)
NEXT_PUBLIC_NATIVE_TOKEN_ID=CDLZFC3SYJYDZT7KBAVPPN3OSPGL63B676ER7G7JPHCSCC57IOKRLZAI

# Deployed Contract Addresses (Replace with your keys after deployment)
NEXT_PUBLIC_TREASURY_CONTRACT_ID=CDDONORSECURETREASURY777KEY
NEXT_PUBLIC_DISTRIBUTION_CONTRACT_ID=CDDISTRIBUTIONRBACPAYOUTS777KEY

# --- DEPLOYMENT / PRIVATE SCRIPTS CONFIG ---
# Admin secret key for local CLI signers (S... prefix)
STELLAR_SOURCE_SECRET_KEY=SA3ADMINSECRETKEYEXAMPLE777DOANDNOTSHAREPUBLICLY
STELLAR_SOURCE_NAME=alice
